// Miscellaneous
// --------------------------------------------------

// #old browser notification
#browser-status {
  width: 100%;
  color: #000;
  padding: 7px;
  z-index: 9999;
  text-align: center;
  background-color: #fef1b6;
  border-bottom: 1px solid #736a60;
  position: fixed;
  top: 0;
  left: 0;
  font: normal 13px/100% Arial, san-serif;
  
  a {
    color: #1c1c1c;
    padding: 6px 10px;
    margin-left: 10px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #f8f6f4;
    border: 1px solid #736a60;
    text-transform: capitalize;
  }
}

:focus,
:active  {outline:none;}
::-moz-focus-inner {border:0;}

body, 
input:focus,
textarea:focus {
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::-moz-selection {
 color: #fff;
 background-color: $brand-primary;
 text-shadow: none;
}
::selection {
 color: #fff;
 background-color: $brand-primary;
 text-shadow: none;
}

// #{headings()} {}